{{#if custom}}Custom{{/if~}}
{{#if (and custom data.references)}} | {{/if~}}
{{#if data.references ~}}
  Quelle(n):
  {{#each data.references}}
    {{#unless @root.locked}}
        {{!-- ACHTUNG: innerhalb #each! Geänderter Kontext! --}}
        {{!-- TODO: Workaround: localize Helper benutzt um index einzufügen. Bessere Lösung suchen. --}}
        {{>input class="value-box" target=(localize "data.references.{index}.source" index=@index) content=source placeholder="Quelle"}}
    {{else}}
        <span class="source">
            {{#if this.link}}<a href="{{this.link}}">{{else if this.jid}}<a class="entity-link" data-pack="{{this.pack}}" data-id="{{this.jid}}">{{/if
            }}{{this.source}}{{#if this.page}}, Seite {{this.page}}{{/if
            }}{{#if (or this.link this.jid)}}</a>{{/if}}
        </span>
        {{#unless @last}} | {{/unless}}
    {{/unless}}
  {{/each}}
{{/if}}