﻿<form class="{{cssClass}}" autocomplete="off">

    {{#*inline "item"}}
    {{! example: >item id="rolle-1" class="td" type="role" content=data.role-1}}
    {{! log "content:" content
        "editMode:" @root.editMode}}
    <div class="{{class}} flexrow item {{type}} allow-break"
        {{#if content.item}}data-item-id="{{content.item._id}}"{{/if}}>
        {{#if content.item}}
        <a class="value item-edit" id="{{id}}" title="Beschreibung anzeigen">{{content.item.name}}</a>
        {{! TODO: Listener von class item-delete auf data-action delete umstellen, auch .js }}
            {{#if editMode}}<a class="controls control item-delete" title="Löschen"><i class="fas fa-trash"></i></a>{{/if}}
        {{else}}
            {{#if content.available}}
            <a class="hint" id="{{id}}" title="{{content.type}} auswählen" data-action="select" data-type="{{type}}">{{content.available-hint}}</a>
            {{else}}
            <span class="hint" id="{{id}}">{{content.hint}}</span>
            {{/if}}
        {{/if}}
    </div>
    {{/inline}}

    {{#*inline "input"}}
    {{! example: >input id="languages" class="foo" target="data.languages" content=data.languages}}
    {{! log "root:" @root
        "this:" @this
        "editMode:" @root.editMode}}
    {{#if @root.editMode}}
    <input {{#if id}} id="{{id}}" {{/if}}
        class="{{#if (isDefined class)}}{{class}} {{/if}}value"
        type="text"
        name="{{#if base-target}}{{base-target}}.{{/if}}{{target}}{{#if (hxIsValueStruct content)}}.value{{/if}}"
        value="{{#if (hxIsValueStruct content)}}{{content.value}}{{else}}{{content}}{{/if}}"
        {{! TODO: dtype besser lösen }}
        {{#if content.dtype}}data-dtype="{{content.dtype}}"{{/if}}
        {{#if dtype}}data-dtype="{{dtype}}"{{/if}}
        {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} />
    {{else}}
    <div class="{{#if (isDefined class)}}{{class}} {{/if}}value">
        {{#if (hxIsValueStruct content)}}{{content.value}}{{else}}{{content}}{{/if}}
    </div>
    {{/if}}
    {{/inline}}

    {{#*inline "seperator"}}
    <div class="seperator">&nbsp;</div>
    {{/inline}}

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" {{#if editMode}}data-edit="img"{{/if}} title="{{actor.name}}" />
        <h1 class="actorname">{{>input class="value-box" target="name" content=actor.name placeholder="Name"}}</h1>

        <div class="combat">
            <div class="combat-value ini flexrow">
                <label class="label" title="Initiative" for="ini">INI</label>
                <div class="value value-box" id="ini">{{data.ini.value}}</div>
            </div>
            <div class="combat-value pw flexrow">
                <label class="label" title="Panzerwert" for="pw">PW</label>
                {{>input class="value-box" target="data.temp.pw" content=data.temp.pw dtype="Number"}}
            </div>
            <div class="combat-value ap flexrow" data-key="data.encounter.ap.remaining">
                <label class="label" title="Aktionspunkte" for="ap">AP</label>

                {{#inc-btn}}<input class="value" type="number" name="data.encounter.ap.remaining" value="{{data.encounter.ap.remaining}}" data-default="{{data.calc.ap}}" data-dtype="Number" id="ap" />{{/inc-btn}}
                <div class="label max" title="Default - Zum Setzen klicken">&nbsp;<a class="set-default" data-action="default">(&nbsp;{{data.calc.ap}}&nbsp;)</a></div>

                {{!-- no encounter --}}
                <!-- <div class="value value-box" id="ap">{{data.calc.ap}}</div> -->
            </div>
        </div>

        <div class="stats">
            <div class="stats-value health" data-key="data.health.value">
                <label class="label" for="health">Basis-LEP</label>
                {{#inc-btn}}<input class="value" type="number" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" id="health" />{{/inc-btn}}
                <div class="label max" title="Maximum"> / {{data.health.max}}</div>
            </div>
            <div class="stats-value power" data-key="data.power.value">
                <label class="label" for="power">Puffer-LEP</label>
                {{#inc-btn}}<input class="value" type="number" name="data.power.value" value="{{data.power.value}}" data-dtype="Number" id="power" />{{/inc-btn}}
                <div class="label max" title="Maximum"> / {{data.power.max}}</div>
            </div>
        </div>

        {{#*inline "res"}}
        <div class="resource" data-key="data.resources.{{key}}">
            <label class="label" for="{{key}}">{{res.label}}</label>
            {{#inc-btn}}<input class="value" type="number" name="data.resources.{{key}}" value="{{res.value}}" data-default="{{res.default}}" data-dtype="Number" id="{{key}}" />{{/inc-btn}}
            {{#if res.max}}
            <div class="label max" title="Maximum">&nbsp;/&nbsp;{{res.max}}</div>
            {{else if res.default}}
            <div class="label max" title="Default - Zum Setzen klicken">&nbsp;<a class="set-default" data-action="default">(&nbsp;{{res.default}}&nbsp;)</a></div>
            {{else}}
            <div class="label max"></div>
            {{/if}}
        </div>
        {{/inline}}

        <div class="resources">
            {{#each header-resources as |res key|}}
            {{>res key=key res=res}}
            {{/each}}
        </div>
    </header>


    {{!-- Sheet Tab Navigation --}}
    {{!-- TODO: Navbar auf grid-Layout umstellen? --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="biography"><div class="item-bg">Bio</div></a>
        <a class="item" data-tab="states"><div class="item-bg">Zustand</div></a>
        <a class="item" data-tab="skills"><div class="item-bg">Fertigkeiten</div></a>
        <a class="item" data-tab="combat"><div class="item-bg">Kampf</div></a>
        <a class="item" data-tab="powers"><div class="item-bg">Jägerkräfte</div></a>
        <a class="item" data-tab="items"><div class="item-bg">Besitz</div></a>
        <a class="item rules-tab" title="Erweiterte Einstellungen" data-tab="rules"><div class="item-bg"><i class="fas fa-cogs"></i></div></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Bio Tab --}}
        <div class="tab biography scroll-y" data-group="primary" data-tab="biography">
            <header class="block-header">Basiswerte</header>
            {{!-- TODO: mit oder ohne inputs (kompakter)? Im Firefox Probleme bei der Darstellung ohne. --}}
            <div class="table inputs table-1">
                <div class="tr">
                    <label class="td label" for="role-1">Rolle №1</label>
                    {{>item id="role-1" class="td" type="role" content=data.role-1}}
                </div>
                <div class="tr">
                    <label class="td label" for="role-2">Rolle №2</label>
                    {{>item id="role-2" class="td" type="role" content=data.role-2}}
                </div>
                <div class="tr">
                    <label class="td label" for="role-3">Rolle №3</label>
                    {{>item id="role-3" class="td" type="role" content=data.role-3}}
                </div>
                <div class="tr">
                    <label class="td label" for="profession">Profession</label>
                    {{>item id="profession" class="td" type="profession" content=data.profession}}
                </div>
                <div class="tr">
                    <label class="td label" for="languages">Sprachen</label>
                    <div class="td flexrow languages">
                        {{>input id="languages" target="data.languages" content=data.languages}}
                    </div>
                </div>
            </div>
            <div class="table inputs table-2">
                <div class="tr">
                    <label class="td label" for="level">Jägerstufe</label>
                    <div class="td flexrow level">
                        {{>input id="level" target="data.level" content=data.level}}
                    </div>
                </div>
                <div class="tr">
                    <label class="td label" for="motivation">Motivation</label>
                    <div class="td flexcol">
                        {{>item id="motivation" type="motivation" content=data.motivation}}
                        {{!-- using {{{ }}} to allow HTML code to pass through unescaped --}}
                        <div id="motivation-bonus" class="note allow-break">{{{data.motivation.bonus}}}</div>
                    </div>
                </div>
                <div class="tr">
                    <label class="td label" for="vitiation">Verderbnis</label>
                    <div class="td flexrow vitiation">
                        {{>input id="vitiation" target="data.vitiation" content=data.vitiation}}
                    </div>
                </div>
            </div>

            {{>seperator}}

            <header class="block-header">Herkunft / Werdegang / Notizen</header>
            {{editor data.notes.biography.editor target="system.notes.biography.editor" button=true owner=owner editable=editable}}

            {{>seperator}}
            <div class="last"> </div>
        </div>

        {{!-- Zustand Tab --}}

        {{#*inline "res-boxes"}}
        <div class="{{class}}">
            {{#repeat count}}
            <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
            {{/repeat}}
        </div>
        {{/inline}}

        <div class="tab states scroll-y" data-group="primary" data-tab="states">
            <header class="block-header header-11">Heilfaktoren</header>
            <div class="erste-hilfe res-boxes table table-11">
                <div class="tr eh" data-key="data.resources.eh">
                    <label class="td label" for="first-aid">Erste Hilfe [EH]</label>
                    {{>res-boxes class="td controls" count=2}}
                    <input id="first-aid" type="hidden" name="data.resources.eh" value="{{data.resources.eh}}" data-dtype="Number" />
                </div>
                <div class="tr mh" data-key="data.resources.mh">
                    <label class="td label" for="magical-healing">Mag. Heilung & Elixire [MH]</label>
                    {{>res-boxes class="td controls" count=4}}
                    <input id="magical-healing" type="hidden" name="data.resources.mh" value="{{data.resources.mh}}" data-dtype="Number" />
                </div>
            </div>

            <header class="block-header header-12">Regeneration</header>
            <div class="regeneration table table-12">
                <div class="tr">
                    <div class="td">Durch Nachtruhe oder FZA Regeneration</div>
                </div>
                <div class="tr">
                    <div class="td note">1 LEP unter freiem Himmel, 2 LEP im Zelt, 3 LEP auf dem Feldbett im Zelt, 4 LEP in einer Herberge</div>
                </div>
                <div class="tr">
                    <div class="td note">Nach Nachtruhe / FZA Regeneration: Alle durchgestrichenen EH- und MH-Felder ausradieren.</div>
                </div>
            </div>

            {{>seperator}}

            <header class="block-header">Anhaltende Einflüsse und Zustände</header>
            <div class="einfluesse res-boxes table table-13">
                <div class="tr odmg" data-key="data.resources.odmg">
                    <label class="td label" for="odmg">Äußerer Schaden</label>
                    {{>res-boxes class="td controls" count=5}}
                    <div class="td note">
                        In [INI-0]: 2 Schmerzschaden pro Stufe
                        {{#if actor.isHunter2e}}
                            <br>Abbau: Unempfindlichkeit
                            / Helfen: Erste Hilfe
                        {{/if}}
                    </div>
                    <input id="odmg" type="hidden" name="data.resources.odmg" value="{{data.resources.odmg}}" data-dtype="Number" />
                </div>
                <div class="tr idmg" data-key="data.resources.idmg">
                    <label class="td label" for="idmg">Innerer Schaden</label>
                    {{>res-boxes class="td controls" count=5}}
                    <div class="td note">
                        In [INI-0]: 2 Schmerzschaden pro Stufe
                        {{#if actor.isHunter2e}}
                            <br>Abbau: Unempfindlichkeit
                            / Helfen: Erste Hilfe
                        {{/if}}
                    </div>
                    <input id="idmg" type="hidden" name="data.resources.idmg" value="{{data.resources.idmg}}" data-dtype="Number" />
                </div>
                <div class="tr mdmg" data-key="data.resources.mdmg">
                    <label class="td label" for="mdmg">Malusschaden</label>
                    {{>res-boxes class="td controls" count=5}}
                    <div class="td note">
                        -1 Malus pro Stufe
                        {{#if actor.isHunter2e}}
                            <br>Abbau: Geistesstärke
                            / Helfen: Redekunst
                        {{/if}}
                    </div>
                    <input id="mdmg" type="hidden" name="data.resources.mdmg" value="{{data.resources.mdmg}}" data-dtype="Number" />
                </div>
                <div class="tr ldmg" data-key="data.resources.ldmg">
                    <label class="td label" for="ldmg">Lähmungsschaden</label>
                    {{>res-boxes class="td controls" count=data.calc.ldmg_max}}
                    <div class="td note">
                        -1 AP pro Stufe (max. AP)
                        {{#if actor.isHunter2e}}
                            <br>Abbau: Akrobatik
                            / Helfen: Muskelspiel
                        {{/if}}
                    </div>
                    <input id="ldmg" type="hidden" name="data.resources.ldmg" value="{{data.resources.ldmg}}" data-dtype="Number" />
                </div>
            </div>

            {{!-- TODO: Tabelle umbauen --}}
            {{!-- TODO: selektierte Zustände zu den Einflüssen zuordnen --}}
            {{!-- TODO: Zustandsvariante: normal/mächtig/fordernd/dauerhaft --}}
            <header class="zustaende block-header flexrow">
                <span class="checkbox"></span>
                <span class="label">Zustand</span>
                <span class="type">Typ</span>
                <span class="effekt">Nebeneffekt</span>
                <span class="abbau">Abbau</span>
                <span class="hilfe">Helfen</span>
            </header>

            <div class="zustaende table table-14">
                <ol class="list-body">
                {{#each data.states as |state key|}}
                    {{#if state.state}}
                    <li class="item state flexrow" data-attribute="{{key}}" data-item-id="{{state.id}}">
                        {{#if state.id}}
                            <a class="li-control item-control item-delete" data-action="delete"><i class="fas fa-trash"></i></a>
                        {{else}}
                            <label class="checkbox"><input type="checkbox" name="data.states.{{key}}.state" {{checked state.state}}/></label>
                        {{/if}}
                        <span class="label">{{key}}</span>
                        <span class="type">{{state.type}}</span>
                        <span class="effekt">{{state.effekt}}</span>
                        <span class="abbau">{{state.abbau}}</span>
                        <span class="hilfe">{{state.hilfe}}</span>
                    </li>
                    {{/if}}
                {{/each}}
                {{#each data.states as |state key|}}
                    {{#if (not state.state)}}
                    <li class="item state flexrow" data-attribute="{{key}}" data-item-id="{{state.id}}">
                        {{#if state.id}}
                            <a class="li-control item-control item-delete" data-action="delete"><i class="fas fa-trash"></i></a>
                        {{else}}
                            <label class="checkbox"><input type="checkbox" name="data.states.{{key}}.state" {{checked state.state}}/></label>
                        {{/if}}
                        <span class="label">{{key}}</span>
                        <span class="type">{{state.type}}</span>
                        <span class="effekt">{{state.effekt}}</span>
                        <span class="abbau">{{state.abbau}}</span>
                        <span class="hilfe">{{state.hilfe}}</span>
                    </li>
                    {{/if}}
                {{/each}}
                </ol>
            </div>

            {{>seperator}}

            <header class="block-header">Notizen</header>
            {{editor data.notes.states.editor target="system.notes.states.editor" button=true owner=owner editable=editable}}

            {{>seperator}}
            <div class="last"> </div>
        </div>

        {{!-- Fertigkeiten Tab --}}
        <div class="tab skills scroll-y" data-group="primary" data-tab="skills">
            <header class="block-header flexrow"><span class="note">geistige (I)</span><span>Attribute</span><span class="note">körperliche (C)</span></header>
            <div class="attributes">
                {{#each data.attributes as |attr key|}}
                    <div class="attribute" data-key="{{key}}">
                        {{!-- TODO: Label im EditMode ausrichten --}}
                        <a class="label roll" title="{{attr.label}}" data-action="roll" data-type="attribute">{{key}}</a>
                        {{>input class="value-box" base-target="data.attributes" target=key content=attr}}
                    </div>
                {{/each}}
            </div>

            {{>seperator}}

            {{!-- TODO: Tabelle umbauen --}}
            <header class="block-header flexrow">
                <span class="li-label">Fertigkeit</span>
                <span class="li-value" title="Fertigkeitswert">FW</span>
                <span class="li-attr">Attribut</span>
                <span class="li-sum">Summe</span>
                <span class="li-control"></span>
                <span class="li-control"></span>
                <span class="li-control"></span>
            </header>

            <div class="table table-21">
                <ol class="list-body">
                {{#each data.skills as |skill key|}}
                    <li class="item skill flexrow" data-key="{{key}}" data-item-id="{{skill.id}}">
                        <span class="li-label li-text">{{skill.label}}</span>
                        {{#if skill.id}}
                            {{dyn-input class="li-value li-text" path="hx:item" key=skill.id target="system.value" value=skill.value}}
                        {{else}}
                            {{dyn-input class="li-value li-text" path="data.skills" key=key target="value" value=skill.value}}
                        {{/if}}
                        <span class="li-attr li-text" title="{{skill.attrLabel}}: {{skill.attrValue}}">[ +{{skill.attribute}} ]</span>
                        <span class="li-sum li-text">{{skill.summe}}</span>
                        <a class="li-control roll" title="Würfeln - [SHIFT]-Klick für Würfeldialog" data-action="roll" data-type="skill"><i class="fas fa-dice"></i></a>
                        {{#if skill.id}}
                        <a class="li-control item-control item-edit" data-action="edit"><i class="fas fa-edit"></i></a>
                        {{else}}
                        <span class="li-control"></span>
                        {{/if}}
                        {{#if (and skill.id ../editMode)}}
                        <a class="li-control item-control item-delete" data-action="delete"><i class="fas fa-trash"></i></a>
                        {{else}}
                        <span class="li-control"></span>
                        {{/if}}
                    </li>    
                {{/each}}
                </ol>
            </div>

            {{>seperator}}

            <header class="block-header">Notizen</header>
            {{editor data.notes.skills.editor target="system.notes.skills.editor" button=true owner=owner editable=editable}}

            {{>seperator}}
            <div class="last"> </div>
        </div>

        {{!-- Kampf Tab --}}
        <div class="tab combat scroll-y" data-group="primary" data-tab="combat">
            <div class="hint"><i class="fas fa-info-circle"></i> Alle <b>Verteidigungsaktionen</b> (Parade/Ausweichen/Schild) kosten immer
                <b>1 AP</b>, sofern in den Anmerkungen nichts anderes angegeben ist. Für die <b>Parade</b> wird ein Angriffswurf mit der jeweiligen
                Waffe gewürfelt.</div>
            {{#if editMode}}
            <div>
                <i class="fas fa-cogs"></i>
                Im <b>Game Mode</b> nur verfügbare Kampffertigkeiten anzeigen.
                <input type="checkbox" name="data.combatFilter.value" {{checked data.combatFilter.value}} />
            </div>
            {{/if}}
            {{!-- TODO: Tabelle umbauen --}}
            <header class="block-header flexrow">
                <label class="checkbox"><input type="checkbox" name="combatFilterEnabled" {{checked combatFilterEnabled}} disabled/></label>
                <span class="li-label">Waffe</span>
                <span class="li-schaden" title="Basis-Schaden">SCH</span>
                <span class="li-ap" title="Aktionspunkte">AP</span>
                <span class="li-value" title="Fertigkeitswert">FW</span>
                <span class="li-attr">Attribut</span>
                <span class="li-sum">Summe</span>
                <span class="li-control"></span> {{!-- Roll Button --}}
                <span class="li-anmerkung">Anmerkung</span>
                {{#if actor.isHunter2e}}
                    <span class="li-control"></span> {{!-- Edit Button --}}
                    <span class="li-control"></span> {{!-- Delete Button --}}
                {{/if}}
            </header>

            <div class="table table-31">
                <div style="display: table-row;"><div style="display: table-cell;">
                <ol class="list-body">
                {{#each data.combat as |skill key|}}
                    {{#if (or ../editMode (not ../data.combatFilter.value) skill.equipped)}}
                    <li class="item skill flexrow" data-key="{{key}}" data-item-id="{{skill.id}}">
                        <label class="checkbox">
                            {{#if skill.id}}
                                <input type="checkbox" name="hx:item.{{skill.id}}.system.equipped" {{checked skill.equipped}} {{#unless ../editMode}}disabled="disabled"{{/unless}} />
                            {{else}}
                                <input type="checkbox" name="data.combat.{{key}}.equipped" {{checked skill.equipped}} {{#unless ../editMode}}disabled="disabled"{{/unless}} />
                            {{/if}}
                        </label>
                        <span class="li-label li-text">{{skill.label}}</span>
                        <span class="li-schaden li-text">{{skill.schaden}}</span>
                        <span class="li-ap li-text">{{skill.ap}}</span>
                        {{#if skill.id}}
                            {{dyn-input class="li-value li-text" path="hx:item" key=skill.id target="system.value" value=skill.value}}
                        {{else}}
                            {{dyn-input class="li-value li-text" path="data.combat" key=key target="value" value=skill.value}}
                        {{/if}}
                        <span class="li-attr li-text" title="{{skill.attrLabel}}: {{skill.attrValue}}">[ +{{skill.attribute}} ]</span>
                        <span class="li-sum li-text">{{skill.summe}}</span>
                        <a class="li-control roll" title="Würfeln - [SHIFT]-Klick für Würfeldialog" data-action="roll" data-type="combat"><i class="fas fa-dice"></i></a>
                        <span class="li-anmerkung li-text">{{skill.anmerkung}}</span>
                        {{#if skill.id}}
                            <a class="li-control item-control item-edit" data-action="edit"><i class="fas fa-edit"></i></a>
                            {{#if ../editMode}}
                                <a class="li-control item-control item-delete" data-action="delete"><i class="fas fa-trash"></i></a>
                            {{else}}
                                <span class="li-control"></span>
                            {{/if}}
                        {{/if}}
                    </li>
                    {{/if}}
                {{/each}}
                </ol>
                </div></div>
            </div>

            {{>seperator}}

            <header class="block-header">Notizen</header>
            {{editor data.notes.combat.editor target="system.notes.combat.editor" button=true owner=owner editable=editable}}

            {{>seperator}}
            <div class="last"> </div>
        </div>

        {{!-- Jägerkräfte Tab --}}
        <div class="tab powers scroll-y" data-group="primary" data-tab="powers">
            {{!-- TODO: Tabelle umbauen --}}
            <header class="block-header">Jägerkräfte</header>
            <ol class="list-body">
                <li class="flexrow">
                    <label class="label" for="kp">Konstruktionspunkte</label>
                    <input id="kp" class="value" type="text" name="data.resources.kp" value="{{data.resources.kp}}" data-dtype="Number" />
                </li>
            </ol>

            <ol class="items-list">
                {{!-- FIXME actor.data durch data ersetzen, sobald Workaround in getData nicht mehr benötigt --}}
                {{#each (hx-filter actor.items "type" "power") as |item id|}}
                    <li class="item flexrow" data-item-id="{{item.id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
                        <div>
                            <h4 class="item-name">{{item.name}}</h4>
                            <div class="item-description note">{{{item.summaryOrDescription}}}</div>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Jägerkraft anzeigen/bearbeiten"><i class="fas fa-edit"></i></a>
                            {{#if ../editMode}}<a class="item-control item-delete" title="Jägerkraft löschen"><i class="fas fa-trash"></i></a>{{/if}}
                        </div>
                    </li>
                {{/each}}
                </ol>

            {{>seperator}}

            <header class="block-header">Notizen</header>
            {{editor data.notes.powers.editor target="system.notes.powers.editor" button=true owner=owner editable=editable}}

            {{>seperator}}
            <div class="last"> </div>
        </div>

        {{!-- Besitz Tab --}}
        <div class="tab items scroll-y" data-group="primary" data-tab="items">
            {{!-- TODO: Tabelle umbauen --}}
            <header class="block-header">Vermögen & Unterhalt</header>
            <div class="top flexrow">
                <div class="vermoegen flexcol">
                    <ol class="list-body">
                        <li class="flexrow">
                            <label class="label" for="vermoegen">Vermögen</label>
                            <input id="vermoegen" class="value" type="text" name="data.temp.vermoegen" value="{{data.temp.vermoegen}}" />
                        </li>
                        <li class="flexrow">
                            <label class="label" for="loot">Beutegut</label>
                            <input id="loot" class="value" type="text" name="data.temp.loot" value="{{data.temp.loot}}" />
                        </li>
                    </ol>
                </div>
                <div class="unterhalt flexcol">
                    <ol class="list-body">
                        <li class="flexrow">
                            <label class="label" for="unterhalt">Unterhalt</label>
                            <input id="unterhalt" class="value" type="text" name="data.temp.unterhalt" value="{{data.temp.unterhalt}}" />
                        </li>
                    </ol>
                </div>
            </div>
            <header class="block-header flexrow">
                <span class="li-label">Waffen, Rüstung, Kleidung, Ausrüstung</span>
                <a class="item-create li-control" title="Neuen eigenen Gegenstand anlegen" data-action="create"><i class="fas fa-plus"></i></a>
            </header>
            <ol class="items-list">
            {{!-- FIXME actor.data durch data ersetzen, sobald Workaround in getData nicht mehr benötigt --}}
            {{#each (hx-filter actor.items "type" "item") as |item id|}}
                <li class="item flexrow" data-item-id="{{item.id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/>
                    <div>
                        <h4 class="item-name">
                            {{#if (eq item.quantity 0)}}<span class="item-empty">{{/if}}
                            {{~ item.name ~}}
                            {{#if (eq item.quantity 0)}}</span>{{/if}}
                            {{#if (or item.system.consumable (gt item.quantity 1))}} 
                            (
                                {{#if item.system.consumable}}
                                <span class="consumable-controls">
                                    <a class="control" data-action="decrease"><i class="fas fa-minus"></i></a>
                                </span>
                                {{/if}}
                                {{item.quantity}}
                                {{#if item.system.consumable}}
                                <span class="consumable-controls">
                                    <a class="control" data-action="increase"><i class="fas fa-plus"></i></a>
                                </span>
                                {{/if}}
                            )
                            {{/if}}
                        </h4>
                        <div class="item-description note">{{{item.summaryOrDescription}}}</div>
                    </div>
                <div class="item-controls">
                        <a class="item-control item-edit" title="Gegenstand anzeigen/bearbeiten"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Gegenstand löschen"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>

            {{>seperator}}

            <header class="block-header">Notizen</header>
            {{editor data.notes.items.editor target="system.notes.items.editor" button=true owner=owner editable=editable}}

            {{>seperator}}
            <div class="last"> </div>
        </div>

        {{!-- Rules Tab --}}
        <div class="tab rules" data-group="primary" data-tab="rules">
            {{!-- TODO: Temporäre Eingabemöglichkeit. Wird später (falls nötig) durch Buffs ersetzt. --}}
            <header class="block-header">Temporäre Eingabefelder für Boni</header>
            <div class="table table-3">
                <div class="tr">
                    <label class="td label" for="lep-bonus">LEP Max</label>
                    <div class="td flexcol">
                        {{>input id="lep-bonus" target="data.temp.lep-bonus" content=data.temp.lep-bonus dtype="Number" }}
                        {{#if (not actor.isHunter2e)}}
                            <div class="hint allow-break">Hinweis: Unempfindlichkeit ist bereits berücksichtigt.</div>
                        {{/if}}
                    </div>
                </div>
                <div class="tr">
                    <label class="td label" for="ini-bonus">Initiative</label>
                    <div class="td flexcol">
                        {{>input id="ini-bonus" target="data.temp.ini-bonus" content=data.temp.ini-bonus dtype="Number" }}
                        {{#if (not actor.isHunter2e)}}
                            <div class="hint allow-break">Hinweis: Reflexe ist bereits berücksichtigt.</div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="table table-4">
                <div class="tr">
                    <label class="td label" for="idee-bonus">Ideen</label>
                    <div class="td flexrow idee-bonus">
                        {{>input id="idee-bonus" target="data.temp.idee-bonus" content=data.temp.idee-bonus dtype="Number" }}
                    </div>
                </div>
                <div class="tr">
                    <label class="td label" for="coup-bonus">Coups</label>
                    <div class="td flexrow coup-bonus">
                        {{>input id="coup-bonus" target="data.temp.coup-bonus" content=data.temp.coup-bonus dtype="Number" }}
                    </div>
                </div>
                <div class="tr">
                    <label class="td label" for="ap-bonus">Aktionspunkte</label>
                    <div class="td flexrow ap-bonus">
                        {{>input id="ap-bonus" target="data.temp.ap-bonus" content=data.temp.ap-bonus dtype="Number" }}
                    </div>
                </div>
            </div>

            {{>seperator}}

            <header class="block-header">Automatisierungsregeln</header>
            <header class="block-header">Aktive Effekte</header>
            <div class="hint">Demnächst verfügbar.</div>

            <div class="last"> </div>
        </div>

    </section>
</form>

