<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields grid-container">
            <h1 class="grid-item1 charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="grid-item2">
              <span class="item2">
                <span> LEP </span>
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
                <span>( <input class="formula" type="text" name="data.health.formula" value="{{data.health.formula}}" placeholder="Formel"/> )</span>
              </span>
              <span class="item2">
                <label class="label" title="Initiative" for="ini">INI</label>
                <input type="text" name="data.calc.ini" value="{{data.calc.ini}}" data-dtype="Number"/>
              </span>
              <span class="item2">
                <label class="label">PW</label>
                <input type="text" name="data.pw.value" value="{{data.pw.value}}" data-dtype="Number"/>
              </span>
              <span class="item2">
                <label class="label">Hex</label>
                <input type="text" name="data.hex.value" value="{{data.hex.value}}" data-dtype="Number"/>
              </span>
            </div>
            <div class="grid-item3">
              {{#each data.attributes as |attr key|}}
                <span class="item3" data-key="{{key}}">
                    <span class="label item3" title="{{attr.label}}">{{key}}</span>
                    <input type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
                    <!--<span class="value">{{attr.value}}</span>-->
                </span>
              {{/each}}
            </div>
        </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <body>

    {{!-- Sheet Body --}}

        {{!-- Biography Tab --}}
        <div>
          <h1>Anführer
            <span style="margin-left:40px;">Stufe <input style="width:30px; text-align: center; margin-left: 10px;" type="text" name="data.stufe.value" value="{{data.stufe.value}}" data-dtype="Number"/> </span>
            <span style="margin-left:20px;">Widernatürlich <input type="checkbox" name="data.unnatural.value" {{checked data.unnatural.value}}/> </span>
          </h1>
          <div>Strategie: <input style="width:400px;" type="text" name="data.strategy.value" value="{{data.strategy.value}}" /> </div>
          <div class="head">
            <h2>Attacken</h2>
          </div>
          <div class="head-content">
            {{editor data.biography1 target="system.biography1" button=true owner=owner editable=editable}}
          </div>
          <div class="head">
            <h2> Kräfte</h2>
          </div>
          <div class="head-content">
            {{editor data.biography2 target="system.biography2" button=true owner=owner editable=editable}}
          </div>
        </div>


    </body>
</form>
